PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://vasuchandralko_db_user:m4dE8J5ecgt6Jgiz@lifelink.35yqoou.mongodb.net/
JWT_SECRET=c1e2b0b9898f412eae30f37c11a3fc627c96b75a7e5dcf6927f90e7d945b0b0f
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=AQ.Ab8RN6Kfb4zdwB7VUBt94YtxlNBqvYG_ImQbZUKCmaAHRxxLeQ
